<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Breaking Bad API">
        <classes>
            <class name="TestCases.RestAssured.BreakingBadInfo"/>
        </classes>
    </test>

    <test name="Automation Practice Testing">
        <classes>
            <class name="Runners.AutomationPractice.AutomationPracticeRunner"/>
        </classes>
    </test>

</suite>

